/* journal component */
.journals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 60%;
  width: 40%; 
}
  
.section-title {
  font-size: 30px;
  font-weight: 320;
  position: fixed; 
  top: 0; 
}
  
.section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 10%; 
  height: 85%; 
  width: 100%; 
}
  
.add-journal-btn, .journal {
  height: 50px; 
  width: 375px; 
  font-weight: 350;
  font-size: 18px;
  border: 1px solid #E0ACFF; 
  border-radius: 6.5px;
}  
  
.add-journal-btn {
  color: #D181FF; 
  background: rgba(226, 202, 240, 0.29);
}

.add-journal-btn:hover {
  scale: 1.02; 
}

.journal {
  background: rgba(224, 172, 255, 0.29);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.journal:hover {
  background: rgba(199, 101, 255, 0.29);
}

.journal-container {
  overflow: auto;
  max-height: 370px; 
  width: 400px;
  margin: 0px 0px 0px 23px; 
}

.journal-container::-webkit-scrollbar {
  width: 4px; 
  border-radius: 10px; 
  background-color: rgba(224, 172, 255, 0.29);
}

.journal-container::-webkit-scrollbar-thumb {
  background-color: #e2b1ff; 
  border-radius: 10px; 
}

/* popup component */
.new-journal-window {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px; 
  width: 450px;
  border-radius: 9px;
  border: 1px solid #D58DFF;
  background: #F0D6FF;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.window-container {
  border-radius: 9px;
  background: #F5E4FF;
  height: 85%; 
  width: 85%;
  margin: 5px 0px 11px 2px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-journal-btn {
  border-radius: 9px;
  border: 1px solid #DFA8FF;
  background: #E6BDFE;
  padding: 5px 8px; 
  margin: 0px 0px 11px 0px; 
}

.create-journal-btn:hover {
  scale: 1.02; 
}

.x-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 3px 15px 0px 0px; 
  width: 100%; 
}

.x-btn {
  border-radius: 10px;
  border: 1px solid rgba(255, 17, 108, 0.29); 
  height: 20px; 
  width: 20px; 
  background-color: rgba(255, 160, 196, 0.29);
  color: rgba(255, 255, 255, 0);
  margin: 5px 0px 0px 0px; 
}

.x-btn:hover {
  color: rgba(255, 0, 98, 0.50);
  text-align: center;
  font-weight: 400;
  line-height: 15px;
}

.upper-container, .lower-container {
  margin: 5px 0px 5px 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-container {
  position: relative;
}

.upper-h1, .middle-h3, .lower-h1 {
  font-weight: 300;
}

.language-btn, .language-input {
  border-radius: 9px;
  border: 1px solid #E0ACFF;
  background: rgba(251, 244, 255, 0.70);
  height: 35px; 
  width: 190px; 
  margin: 10px 0px; 
  padding: 0px 0px 0px 15px; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.btn-icon {
  height: 35px; 
  width: 20%;
  border-radius: 0px 9px 9px 0px; 
  border-left: 1px solid #E0ACFF;
  border-top: 1px solid #E0ACFF;
  border-bottom: 1px solid #E0ACFF;
  background: #E7D2F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; 
}

.middle-line {
  width: 10rem; 
  margin: 0px 10px; 
  border: 0.2px solid #D181FF;
}


/* dropdown component */
.dropdown-container {
  height: 100%; 
  width: 81.75%; 
  position: absolute;
  top: 86%; 
  left: 0;
}
  
.dropdown {
  list-style-type: none;
  text-align: center;
  border-radius: 9px;
  border: 1px solid #E0ACFF;
  background: rgb(251, 244, 255);
  overflow: auto;
  max-height: 180px; 
}
  
.dropdown-item {
  padding: 4px 0px 4px 0px;
  border-radius: 9px;
  border-bottom: 0.5px solid #e7c4fb; 
  border-top: 0.5px solid #e7c4fb; 
}
  
.dropdown-item:hover {
  background: #F0D6FF;
  border-radius: 6.5px;
}
