/* journal component */
.journals-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 60%;
  width: 40%; 
  /* color: #434242; */
}
  
.section-title {
  font-size: 30px;
  font-weight: 320;
  position: fixed; 
  top: 0; 
}
  
.section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 34px; 
  height: 85%; 
  width: 100%; 
}
  
.add-journal-btn, .journal {
  height: 50px; 
  width: 375px; 
  font-weight: 350;
  font-size: 18px;
  border: 1px solid #E0ACFF; 
  border-radius: 6.5px;
}  
  
.add-journal-btn {
  color: #D181FF; 
  background: rgba(226, 202, 240, 0.29);
}

.add-journal-btn:hover {
  scale: 1.02; 
}

.journal, .no-journals {
  background: rgba(224, 172, 255, 0.29);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.journal:hover {
  background: rgba(199, 101, 255, 0.29);
}

.no-journals {
  color: #848282; 
}

.no-journals:hover {
  background: rgba(224, 172, 255, 0.29);
}

.journal-container {
  overflow: auto;
  max-height: 370px; 
  width: 400px;
  margin: 0px 0px 0px 23px; 
}

.journal-container::-webkit-scrollbar {
  width: 4px; 
  border-radius: 10px; 
  background-color: rgba(224, 172, 255, 0.29);
}

.journal-container::-webkit-scrollbar-thumb {
  background-color: #e2b1ff; 
  border-radius: 10px; 
}


/* popup component */
.new-journal-window {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px; 
  width: 450px;
  border-radius: 9px;
  border: 1px solid #D58DFF;
  background: #F0D6FF;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.window-container {
  border-radius: 9px;
  background: #F5E4FF;
  height: 85%; 
  width: 85%;
  margin: 5px 0px 11px 2px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-journal-btn {
  border-radius: 9px;
  border: 1px solid #DFA8FF;
  background: #E6BDFE;
  padding: 5px 8px; 
  margin: 0px 0px 11px 0px; 
}

.create-journal-btn:hover {
  scale: 1.02; 
}

.x-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 3px 15px 0px 0px; 
  width: 100%; 
}

.x-btn {
  border-radius: 10px;
  border: 1px solid rgba(255, 17, 108, 0.29); 
  height: 20px; 
  width: 20px; 
  background-color: rgba(255, 160, 196, 0.29);
  color: rgba(255, 255, 255, 0);
  margin: 5px 0px 0px 0px; 
}

.x-btn:hover {
  color: rgba(255, 0, 98, 0.50);
  text-align: center;
  font-weight: 400;
  line-height: 15px;
}

.upper-container, .lower-container {
  margin: 5px 0px 5px 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-container {
  position: relative;
}

.upper-h1, .middle-h3, .lower-h1 {
  font-weight: 300;
}

.language-btn, .language-input {
  border-radius: 9px;
  border: 1px solid #E0ACFF;
  background: rgba(251, 244, 255, 0.70);
  height: 35px; 
  width: 190px; 
  margin: 10px 0px; 
  padding: 0px 0px 0px 15px; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.btn-icon {
  height: 35px; 
  width: 20%;
  border-radius: 0px 9px 9px 0px; 
  border-left: 1px solid #E0ACFF;
  border-top: 1px solid #E0ACFF;
  border-bottom: 1px solid #E0ACFF;
  background: #E7D2F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; 
}

.middle-line {
  width: 10rem; 
  margin: 0px 10px; 
  border: 0.2px solid #D181FF;
}


/* dropdown component */
.dropdown-container {
  height: 100%; 
  width: 81.75%; 
  position: absolute;
  top: 86%; 
  left: 0;
}
  
.dropdown {
  list-style-type: none;
  text-align: center;
  border-radius: 9px;
  border: 1px solid #E0ACFF;
  background: rgb(251, 244, 255);
  overflow: auto;
  max-height: 180px; 
}
  
.dropdown-item {
  padding: 4px 0px 4px 0px;
  border-radius: 9px;
  border-bottom: 0.5px solid #e7c4fb; 
  border-top: 0.5px solid #e7c4fb; 
}
  
.dropdown-item:hover {
  background: #F0D6FF;
  border-radius: 6.5px;
}

.btn-p {
  color: #434242;
}


/* no lang chosen component */
.background-div {
  background: rgba(231, 189, 255, 0.317);
  width: 100vw; 
  height: 100vh; 
  top: 47.8%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  position: fixed; 
}

.no-lang-chosen-popup {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  height: 130px; 
  width: 360px;
  border: 1px solid #D58DFF; 
  border-radius: 9px;
  background: #F0D6FF;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.popup-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.message-container {
  margin: 20px 20px;  
}

.message {
  text-align: center;
  line-height: 23px;
}

.ok-btn-container {
  width: 100%;
  height: 100%;
}

.ok-btn {
  bottom: 0;
  width: 100%; 
  height: 100%;
  border-top: 1px solid #D58DFF; 
  border-bottom: none; 
  border-right: none; 
  border-left: none;
  border-bottom-right-radius: 9px; 
  border-bottom-left-radius: 9px; 
  background: #d5c1e043;
}

.ok-btn:hover {
  background: #e3b3ff7f;
}


/* journal exists component */
.journal-exists-popup {
  height: 200px; 
  font-size: 15px;
}


/* journal entry */
.journal-entry-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%; 
  /* border: 4px solid green;  */
}

.entry-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 99%;
  top: 22px;
  position: fixed;
  /* border: 2px solid yellow; */
}

.left-header, .right-header {
  display: flex; 
  /* border: 1px solid red;  */
}

.entry-main {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* border: 2px solid red;  */
}

.entry-hr {
  width: 100%;
  top: 70px;
  position: relative;
  border: 0.5px solid #D181FF;
}

.entry-main-hr {
  height: 100%;
  border: 0.5px solid #D181FF;
}

.hr-left {
  position: fixed;
  left: 60px;
}

.hr-right {
  position: fixed;
  right: 60px;
}

.journal-entry-components {
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90%;
  top: 35px;
  position: relative;
  /* border: 2px solid blue;  */
  padding: 0px 23px;
}

.aida-recs-btn, .components-btn {
  position: relative;
  border-top: none;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-bottom: 1px solid #D181FF;
  border-right: 1px solid #D181FF;
  border-left: 1px solid #D181FF;
  background: rgba(224, 172, 255, 0.49);
  white-space: nowrap;
  font-size: 17px;
  display: flex;
  align-items: center;
  color: #434242;
}

.aida-recs-span {
  color: #D181FF; 
  font-weight: 700;
}

.aida-recs-btn {
  transform: rotate(270deg);
  left: -61.5px;
  padding: 11px 25px; 
}

.aida-recs-section, .components-section {
  /* border: 1px solid rgb(255, 166, 0); */
  padding: 80px 0px;
  width: 70px;
}

.components-btn {
  transform: rotate(90deg);
  left: -35.5px;
  padding: 11px 13px; 
}

.space-span {
  padding: 0px 7px;
}

.prev-btn, .next-btn {
  border: none; 
  /* border: 1px solid blue; */
  background: none;
}

.prev-btn {
  position: fixed;
  left: 23px;
}

.next-btn {
  position: fixed;
  right: 23px;
}

.date, .journal-name {
  font-size: 23px;
  font-weight: 350;
}

.date {
  padding: 0px 20px 0px 75px; 
}

.journal-name {
  padding: 0px 75px 0px 0px; 
}

.date-month-day {
  color: #D181FF;
  font-weight: 450;
}

.arrow-left, .arrow-right {
  color: #d181ff;
  font-size: 25px;
}

.arrow-left:hover, .arrow-right:hover {
  scale: 1.12;
}

.arrow-down:hover {
  color: #d181ff;
}

.chat-aida-btn {
  border: 1px solid #D181FF;
  border-radius: 15px;
  background: rgba(230, 189, 254, 0.66);
  color: #434242;
  padding: 0px 12px; 
  font-size: 16px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

.chat-aida-btn::before {
  content: '';
  position: absolute;
  top: -500%;
  left: -60%;
  width: 200%;
  height: 800%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(218, 117, 255, 0.278)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.chat-aida-btn:hover {
    box-shadow: 0 0 10px #e9c4ff
}

.chat-aida-btn:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.chat-span {
  color: #D181FF; 
  font-weight: 600;
}


/* journal, notes & vocab entry components */
.notes-section, .journal-section, .vocab-section {
  width: 49%;
  height: 47%;
  border-radius: 7px;
  border: 1px solid #D181FF;
  background: rgba(224, 172, 255, 0.22);
  position: relative;
  display: flex; 
  flex-direction: column;
}
  
.notes-header, .journal-header, .vocab-header {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-between;
  margin: 10px 8px 10px 15px;
}
  
.notes-h2, .journal-h2, .vocab-h2 {
  font-weight: 300;
}
  
.corner-btns {
  display: flex;
  justify-content: space-between;
}
  
.x-comp-btn, .resize-comp-btn {
  border-radius: 10px;
  height: 20px; 
  width: 20px; 
  color: rgba(255, 255, 255, 0);
  margin: 0px 0px 10px 0px; 
  display: flex;
  justify-content: center;
}
  
.x-comp-btn {
  border: 1px solid rgba(255, 17, 108, 0.29);
  background-color: rgba(255, 160, 196, 0.29);
}
  
.resize-comp-btn {
  border: 1px solid rgba(187, 178, 0, 0.63);
  background-color: rgba(255, 246, 78, 0.29);
  margin: 0px 4px 0px 0px;
}
  
.x-comp-btn:hover {
  color: rgba(255, 0, 98, 0.50);
}
  
.resize-comp-btn:hover {
  color: rgba(161, 153, 2, 0.63);
}
  
.notes-main, .journal-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}
  
.notes-area, .journal-area {
  border: 1px solid #D181FF;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.71);
  width: 95%;
  height: 95%;
  padding: 15px 17px; 
  font-size: 18px;
  font-weight: 300;
  resize: none;
  /* border: 1px solid red; */
}

.vocab-hr {
  border: 0.75px solid #D181FF;
  margin: 0px 12px;
}

.vocab-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72%;
  /* border: 1px solid rgb(0, 255, 42);  */
}

.header-table {
  width: 97%;
  /* border: 1px solid rgb(255, 0, 102);  */
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: separate;
  border-spacing: 8px 0;
  overflow-x: auto;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue;  */
  height: 55px;
  width: 99%;
}

.table-header {
  /* border: 0.5px solid rgb(68, 3, 68); */
  font-weight: 350;
  font-size: 17.5px;
  /* width: 100%; */
}

.th-1, .th-2, .td-1, .td-2 {
  min-width: 10vw;
  /* overflow-x: scroll; */
}

.th-3, .td-3 {
  min-width: 16vw;
  /* overflow-x: scroll; */
}

.th-4, .td-4, .empty-div {
  min-width: 1vw;
  /* border: 1px solid red; */
  /* overflow-x: scroll; */
}

.icons-div {
  display: flex;
  flex-direction: column;
}

.icon {
  margin: 4px 0px;
  font-size: 14px;
  color: #939393;
}

.pencil:hover {
  color: rgb(210, 202, 47);
}

.trash:hover {
  color: rgba(221, 76, 131, 0.5);
}

.td-input, .td-div {
  /* margin: 4px 8px 0px 0px; */
  /* width: 200px; */
  min-width: 10vw;
  /* text-align: center; */
}

.td-i-1 {
  margin: 4px 8px 0px 8px;
}

.td-div, .td-i-2 {
  margin: 4px 8px 0px 0px;
}

.empty-div {
  margin: 4px 8px 0px 0px;
  /* height: 100%; */
}

.td-i-2 {
  /* margin: 4px 8px 0px 8px; */
  /* width: 380px; */
  min-width: 16vw;
}

.td-h4, .td-input {
  font-weight: 350;
  font-size: 14px;
}

.td-h4, .td-dropdown-btn {
  color: rgb(102, 102, 102); 
  /* border: 1px solid green; */
  /* height: 100%; */
}

.td-h4 {
  width: 100%;
  /* border: 1px solid green; */
}

.td-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.scroll-body {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -7px;
  /* border: 1px solid rgb(244, 31, 159); */
}

.body-table {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-collapse: separate;
  border-spacing: 8px 4px;
  height: 183.5px;
  width: 97%;
  overflow-y: auto;
  /* border: 1px solid green; */
}

.table-data, .td-input, .td-div {
  border: 1px solid #D181FF; 
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 7px;
  font-weight: 350;
  height: 53px;
  /* width: 100%; */
  line-height: 1;
  text-align: center;
}

.table-body {
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid rgb(26, 141, 255); */
}

.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.2px solid red;  */
  /* width: 94.15%; */
  width: 96%;
  /* overflow: hidden; */
  /* overflow-x: scroll; */
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.add-entry-btn {
  width: 100px;
  height: 35px;
  border-radius: 9px;
  border: 1px solid #D181FF;
  background-color: #E6BDFE;
  color: #434242;
}

.add-entry-btn:hover {
  background-color: #e3b4fe;
}

.td-dropdown-container {
  position: absolute;
  min-width: 10vw;
  right: -1px;
  bottom: 51.5px;
}

.td-dropdown {
  list-style-type: none;
  text-align: center;
  overflow: scroll;
  max-height: 150px;
  border: 1px solid #d38efb;
  border-radius: 9px;
  background: rgb(234, 206, 251);
}

.td-dropdown-item {
  padding: 7px 0px 7px 0px;
  border-radius: 9px;
  border-bottom: 0.5px solid #e2afff; 
  border-top: 0.5px solid #e2afff; 
}

.td-dropdown-item:hover {
  background: #F0D6FF;
  border-radius: 6.5px;
}

.td-dropdown-btn {
  color: rgb(216, 133, 255); 
  /* border: 1px solid green; */
  border: none;
  background-color: rgba(255, 255, 255, 0);
  /* height: 100%; */
  position: relative;
  left: -7px;
}

.td-dropdown-btn:hover {
  color: rgba(216, 133, 255, 0.687); 
}

.no-entries {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 183.5px;
  width: 38.3vw;
  margin: 0px 8px 4px 8px;
  border: 1px solid #D181FF; 
  background-color: rgba(255, 255, 255, 0.227);
  border-radius: 7px;
  font-weight: 350;
  color: grey;
}