.tiny-section {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* border: 1px solid red;  */
}

.upper-tiny-section {
  height: 25%; 
  /* border: 1px solid red;  */
  display: flex; 
  flex-direction: row;
}

.lower-tiny-section {
  height: 75%;
  /* border: 1px solid blue;  */
}

.timer {
  width: 40%;
  border: 1px solid red; 
}

.quote-of-the-day {
  width: 60%;
  border: 1px solid blue; 
}

.timer-h2, .quote-h2 {
  font-size: 22px;
}

.timer-main {
  display: flex;
  justify-content: space-around;
}

.timer-div {
  width: 70%;
}

.hour-area, .min-area, .second-area {
  width: 3.45vw;
  height: 4vh;
}